[submodule "jquery.Storage"]
	path = jquery.Storage
	url = https://github.com/tarellel/jquery.Storage
[submodule "datejs"]
	path = datejs
	url = git://github.com/RangerRick/Datejs.git
[submodule "json"]
	path = json
	url = git://github.com/douglascrockford/JSON-js.git
