<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.raccoonfink.cruisemonkey"
	version 	= "1.0.3">

	<name>CruiseMonkey</name>

	<description>Keep Track of Your Cruise</description>

	<author href="http://github.com/RangerRick/JoCo"
		email="ranger@befunk.com">
		Benjamin Reed
	</author>

	<gap:platforms>
		<gap:platform name="android" minVersion="1.6" />
		<gap:platform name="webos" />
		<gap:platform name="symbian.wrt" />
		<!-- <gap:platform name="blackberry" project="widgets"/> -->
	</gap:platforms>

	<icon src="apple-touch-icon.png" gap:role="default" />

	<gap:splash src="weirdo.png" />

	<!-- <feature name="http://api.phonegap.com/1.0/geolocation"/> -->
	<feature name="http://api.phonegap.com/1.0/network"/>
	<feature name="http://api.phonegap.com/1.0/storage"/>

	<!-- sample preference specification -->
	<!-- <preference name="autorotate" value="false" readonly="true"/> -->
</widget>
